.reset {
  width: 280px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #989FDB;
  
  &__link {
    color: #9D25B0;
  }
}

@media only screen and (max-width: 600px) {
  .reset {
    margin-top: 3rem;
    color: #fff;

    &__link {
      color: #fff;
    }    
  }
}