.container {

  &__login {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: -10%;
  }
}

@media only screen and (max-width: 1000px) {
  .container {
      
    &__login {
      flex: 3;
      margin-left: 0;
    }
  }
}

@media only screen and (max-width: 600px) {
  .container {
      
    &__login {
      height: 80%;
      z-index: 9;
      margin-top: 2rem;
    }
  }
}