.container {

  &__banner {
    flex: 1;
    height: 100%;
    background-image: url('../../assets/wiser-banner.jpg');
    background-position: center;
    background-size: cover;
    
    &--gradient-color {
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, #130525 0%, rgba(105, 57, 153, 0) 100%);
    }
  }
}

@media only screen and (max-width: 1000px) {
  .container {
      
    &__banner {
      flex: 2;
    }

  }
}

@media only screen and (max-width: 600px) {
  .container {
      
    &__banner {
      position: absolute;
      width: 100%;
      height: 50%;
      top: 0;
    }
  }
}